<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body >
  
  
  <div class="container"> 
    <div class="circle">
        <img src="https://static.vecteezy.com/system/resources/previews/000/623/239/original/auto-car-logo-template-vector-icon.jpg">
    </div>
    <div  class="navbar">
      <img class="imeg"src="https://tse3.mm.bing.net/th?id=OIP.cedl29bk3emEnAloAvgx0AHaDz&pid=Api&P=0&h=180">
      <div class="Search">
          <select class="sel" name="Car">
            <option value="bmw">bmw</option>
            <option value="Mahindra">Mahindra</option>
            <option value="RR">RollsRoyals</option>
            <option value="Honda">Honda</option>
          </select>
          <input class="place" type="text" placeholder="Enter Car Name">
          <button>Search</button>  
          <div class="box">
            <pre><h1>  Select Car Comapany</h1></pre>
           
            <img src="https://media.cars24.com/cars24/brand/12330d28-b357-4010-8d0c-6141a3f82e48MARUTISUZUKI17.png" >
            <img src="https://media.cars24.com/cars24/brand/6c77d5ff-f3be-4c85-a870-6b1a2b2957f9Mahindranew.png">
            <img src="https://media.cars24.com/cars24/brand/b391b164-ebad-421a-9c8d-164c2adfb58dHONDAnew.png">
            <img src="https://media.cars24.com/cars24/brand/768d96aa-d966-4e6e-89fb-40c7fc32eb46FORDnew.png">
            <img src="https://media.cars24.com/cars24/brand/fdafe75f-62ea-4cb9-8fca-3d57863a1e75TATAnew.png">
            <img src="https://media.cars24.com/cars24/brand/b62fd2e2-d183-49f0-a09a-c22dfe30f724HYUNDAInew.png">
          </div>
      </div>
        
    </div> 
    
    
  </div>
  
      
  
</body>
</html>